@keyframes color {
  0%   { background: #66ff00; }
  20%  { background: #ffffff; }
  40%  { background: #846eb9; }
  60%  { background: #c5a4a4; }
  80%  { background: #c59845; }
  100% { background: #70e721; }
}

.App {
  text-align: center;
  background-color: #ff0000;
  height: 42100px;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


img {
  background: #ff0000;
  animation: color 9s infinite linear;
  height: 200px;
  margin: 20px 0 10px 0;
  border: 20px solid white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nome, .tipo {
  background-color: #282c34;
  height: 11%;
  width: 160%;
  margin: 60% 10% 0 50%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
