@keyframes color {
  0%   { background: #ff0000; }
  20%  { background: #c41313; }
  40%  { background: #993b3b; }
  60%  { background: #b45050; }
  80%  { background: #cf2828; }
  100% { background: #ff0000; }
}

.App {
  text-align: center;
  background: #ff0000;
  animation: color 9s infinite linear;
  height: 400px;
  width: 100%;
}


img {
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
